body {
    background-color: #ffffff;
}
h1 {text-align: center;
    font-family: georgia;
    font-size: 300%;
    color: #ae0700;
}

h2 {
    text-align: center;
    font-family: georga;
    font-size: 150%;
    color: #ff4055;
}

h3 {
    text-align: center;
    font-family: georgia;
    font-size: 120%;
    color: #ff808a;
}

p {
    font-family: georgia;
    font-size: 100%; 
    color: #0e00cb;
}
